.label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #111111;
    -fx-effect: dropshadow( gaussian , rgba(10,10,10,0.5) , 10,0,1,1 );
}

.v-box.label {
    -fx-padding: 10 10 10 10;
    -fx: green;
}