<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>WordCounter</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar" class="navbar navbar-inverse">

</nav>

<div class="container">
       <div class="col-md-4">
           <div class="row">
               <div class="starter-template">

                   <h1>NetworkHelp</h1>

               </div>
           </div>

           <div class="row">
               <form class="" action="/submit/startserver" th:method="post">
                   <div class="form-group">
                       <button class="btn btn-success" type="submit">Start server!</button>
                   </div>
               </form>
               <form class="" action="/submit/startclient" th:method="post">
                   <div class="form-group">
                       <button class="btn btn-success" type="submit">Start client!</button>
                   </div>
               </form>

           </div>

       </div>
       <div class="col-md-4">
           <h2 th:text="${ip}">IP</h2>
           <h2 th:text="${message}">message</h2>

       </div>
       <div class="col-md-4">

       </div>
</div>
<!-- /.container -->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>